// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: white; }

html { height: 100%; }

body {
  color: black;
  font-family: sans-serif;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  word-break: break-all;
}

.post-meta { text-align: right; }

h1 { font-size: 1.5em;
margin-bottom: 3em;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

p { 
   margin: 2rem 0; }

li { margin: 0.4rem 0;
  list-style: none;
 }

*:target { background: yellow; }

strong{background:linear-gradient(transparent 70%, #c1e0ff 70%);
  font-weight:bold;}

a{
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: .3s;
}

a::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: '';
  width: 0;
  height: 2px;
  background-color: #31aae2;
  transition: .3s;
  transform: translateX(-50%);
}

a:hover::after{
  width: 100%;
}

.w {
  max-width: 33em;
  margin: 0 auto;
  padding: 4rem 2rem;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '---' }
  &:after { content: attr(data-content) '---' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  font-style: normal;
  border: thin solid black;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
